footer.container.py-5
    .row 
        .col-md-6
            nav.nav.justify-content-center.justify-content-md-start
                a(href="/nosotros", title="title").nav-link Nosotros
                a(href="/viajes", title="title").nav-link Viajes
                a(href="/testimoniales", title="title").nav-link Testimoniales
        .col-md-6
            p.copyright.text-center.text-md-right
                | Todos los derechos reservados 
                span=fechaActual