extends ../layout/index.pug
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="nosotros").img-fluid
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel felis diam. Mauris pulvinar dui a lectus lobortis interdum sed tempor mi.
                p Nam arcu magna, convallis ut est at, commodo convallis diam. Integer congue tincidunt ipsum sit amet scelerisque. Integer tellus enim, pharetra nec velit vitae, laoreet viverra est. Quisque eget est et mauris dignissim congue.
                p Donec rutrum ligula sit amet tellus cursus ullamcorper. Nullam faucibus nulla non urna volutpat vulputate. Suspendisse lobortis molestie eros, vitae bibendum metus.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono").img-fluid.mb-4
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel felis diam. Mauris pulvinar dui a lectus lobortis interdum sed tempor mi.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono").img-fluid.mb-4
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel felis diam. Mauris pulvinar dui a lectus lobortis interdum sed tempor mi.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono").img-fluid.mb-4
                    h2.mb-4 Mejor Precio
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel felis diam. Mauris pulvinar dui a lectus lobortis interdum sed tempor mi.